.PatriarchyMob {
    height: 13.219427402862986vh;
}

.MirrorballMob {
    height: 12.519427402862986vh;
}

.CelebratingMob {
    height: 3.067484662576687vh;
    margin-bottom: 16px;
}

.AgeMob {
    height: 14.359918200409vh;
}

.CeoMob {
    position: absolute;
    height: 2.74499vh;
    bottom: 4px;
    right: 15px;
}

.GingerMob {
    width: 43.160714285714286vw;
}

.GabiMob {
    width: 43.160714vw;
    position: absolute;
    top: -80px;
    left: 155px;
}

.YouMob {
    height: 10.224948875255624vh;
    position: absolute;
    z-index: 8;
    left: 68px;
    top: -8px;
}

.BarbieMob {
    left: 0px;
    z-index: 10;
    position: absolute;
    width: 19.580357vw;
    bottom: -28px;
}

.TicketMob {
    width: 40.160714vw;
    height: 100%;
}

.flex {
    display: flex;
}

.relative {
    position: relative;
}

.AgeWrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: inherit;
}

.ThirdRow {
    padding: 0 37px;
}

.forthRow {
    display: flex;
}

.TextRow {
    margin-top: 108px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0px 35px;
}

.secondRow {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.Header {
    display: flex;
    justify-content: space-around;
    width: 100vw;
}

@media (max-width: 600px) {
    .Background {
        display: block;
        background-image: url('../../assets/Background_mobile_export.png');
    }
    .Date {
        margin-top: 2.538vh;
    }
    .Date, .Local {
        font-size: 18px;
        margin-bottom: 0;
    }
    .modal-content {
        height: 70%;
    }
}

.PatriarchyMob:hover,.GingerMob:hover,.TicketMob:hover,.CeoMob:hover,.YouMob:hover,.GabiMob:hover,.BarbieMob:hover {
    animation-name: shake-it-off-t-swift;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
    }
    @keyframes shake-it-off-t-swift {
        0% { transform: rotate(0deg); }
        25% { transform: rotate(5deg); }
        50% { transform: rotate(0eg); }
        75% { transform: rotate(-5deg); }
        100% { transform: rotate(0deg); }
      }