.App {
  background-image: url("./assets/Background.png");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.App-logo {
  margin: 21.84vh;
}

@media (max-width: 930px) {
 .App {
   background-image: url("./assets/BackgroundMobile.png");
 }
  .App-logo {
    margin: 0.84vh;
  }
}



